@charset "UTF-8";

body{
     font-family: Arial, Helvetica, sans-serif;
/*Medidas absolutas
cm, m, in, px, pt, pc

Medias relativas
em, ex, rem, vw,, vh, %
*/
}
h1 {
    font: italic bold 3em serif;
    text-align: center;
}
h2 {
    font: italic bold 2em serif;
    text-align: center;
}
p {
    font: normal normal 1.25em serif;
    text-align: justify;
    
}